# Christopher Reid
# Homework 2: Data Collection

In [1]:
#imports
!pip install beautifulsoup4
!pip install pandas
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import datetime
from zipfile import ZipFile
import csv

Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

___
___
## Question 1: What's the secret code?

### Q 1.1: Use the library we learned in class to get the page’s HTML.

In [2]:
URL = 'https://csc380.beingenfa.com/Bonus/1.html'
page = requests.get(URL)
html = BeautifulSoup(page.text, 'html.parser')
print(html.prettify())

<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <meta content="quarto-1.3.361" name="generator"/>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport"/>
  <title>
   CSC 380 – quarto-input9d7f016f
  </title>
  <style>
   code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */
  vertical-align: middle;
}
  </style>
  <script src="../site_libs/quarto-nav/quarto-nav.js">
  </script>
  <script src="../site_libs/quarto-nav/headroom.min.js">
  </script>
  <script src="../site_libs/clipboard/clipboard.min.js">
  </script>
  <script src="../site_libs/quarto-search/autocomplete.umd.js">
  </script>
  <script src="../site_libs/quarto-search/fuse.min.js">
  </script>
  <script src="../site_libs/quarto-search/quarto-search.js">
  </script>
  <meta content="../" name="quarto:offset"/>
  <script src="../site_libs/quarto-html/quarto.js">
  </script>
  <script src="../site_libs/quarto-html/popper.min.js">
  </script>
  <script src="../site_libs/quarto-html/tippy.umd.min.js">
  </script>
  <script src="../site_libs/quarto-html/anchor.min.js">
  </script>
  <link href="../site_libs/quarto-html/tippy.css" rel="stylesheet"/>
  <link href="../site_libs/quarto-html/quarto-syntax-highlighting.css" id="quarto-text-highlighting-styles" rel="stylesheet"/>
  <script src="../site_libs/bootstrap/bootstrap.min.js">
  </script>
  <link href="../site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet"/>
  <link data-mode="light" href="../site_libs/bootstrap/bootstrap.min.css" id="quarto-bootstrap" rel="stylesheet"/>
  <script id="quarto-search-options" type="application/json">
   {
  "location": "sidebar",
  "copy-button": false,
  "collapse-after": 3,
  "panel-placement": "start",
  "type": "textbox",
  "limit": 20,
  "language": {
    "search-no-results-text": "No results",
    "search-matching-documents-text": "matching documents",
    "search-copy-link-title": "Copy link to search",
    "search-hide-matches-text": "Hide additional matches",
    "search-more-match-text": "more match in this document",
    "search-more-matches-text": "more matches in this document",
    "search-clear-button-title": "Clear",
    "search-detached-cancel-button-title": "Cancel",
    "search-submit-button-title": "Submit",
    "search-label": "Search"
  }
}
  </script>
  <link href="../styles.css" rel="stylesheet"/>
 </head>
 <body class="nav-sidebar docked">
  <div id="quarto-search-results">
  </div>
  <header class="headroom fixed-top" id="quarto-header">
   <nav class="quarto-secondary-nav">
    <div class="container-fluid d-flex">
     <button aria-controls="quarto-sidebar" aria-expanded="false" aria-label="Toggle sidebar navigation" class="quarto-btn-toggle btn" data-bs-target="#quarto-sidebar,#quarto-sidebar-glass" data-bs-toggle="collapse" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }" type="button">
      <i class="bi bi-layout-text-sidebar-reverse">
      </i>
     </button>
     <nav aria-label="breadcrumb" class="quarto-page-breadcrumbs">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">
        <a href="../Bonus/1.html">
         Bonus Questions
        </a>
       </li>
       <li class="breadcrumb-item">
        <a href="../Bonus/1.html">
         Sonam’s Dilemma: A Gift for Few or a Chance for All
        </a>
       </li>
      </ol>
     </nav>
     <a aria-controls="quarto-sidebar" aria-expanded="false" aria-label="Toggle sidebar navigation" class="flex-grow-1" data-bs-target="#quarto-sidebar,#quarto-sidebar-glass" data-bs-toggle="collapse" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }" role="button">
     </a>
     <button aria-label="" class="btn quarto-search-button" onclick="window.quartoOpenSearch();" type="button">
      <i class="bi bi-search">
      </i>
     </button>
    </div>
   </nav>
  </header>
  <!-- content -->
  <div class="quarto-container page-columns page-rows-contents page-layout-article" id="quarto-content">
   <!-- sidebar -->
   <nav class="sidebar collapse collapse-horizontal sidebar-navigation docked overflow-auto" id="quarto-sidebar">
    <div class="pt-lg-2 mt-2 text-left sidebar-header">
     <div class="sidebar-title mb-0 py-0">
      <a href="../">
       CSC 380
      </a>
     </div>
    </div>
    <div class="mt-2 flex-shrink-0 align-items-center">
     <div class="sidebar-search">
      <div class="" id="quarto-search" title="Search">
      </div>
     </div>
    </div>
    <div class="sidebar-menu-container">
     <ul class="list-unstyled mt-1">
      <li class="sidebar-item sidebar-item-section">
       <div class="sidebar-item-container">
        <a aria-expanded="true" class="sidebar-item-text sidebar-link text-start" data-bs-target="#quarto-sidebar-section-1" data-bs-toggle="collapse">
         <span class="menu-text">
          Course Content
         </span>
        </a>
        <a aria-expanded="true" aria-label="Toggle section" class="sidebar-item-toggle text-start" data-bs-target="#quarto-sidebar-section-1" data-bs-toggle="collapse">
         <i class="bi bi-chevron-right ms-2">
         </i>
        </a>
       </div>
       <ul class="collapse list-unstyled sidebar-section depth1 show" id="quarto-sidebar-section-1">
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Course_Content/Week_1/home.html">
           <span class="menu-text">
            Week 1
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Course_Content/Week_2/home.html">
           <span class="menu-text">
            Week 2
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Course_Content/Week_3/home.html">
           <span class="menu-text">
            Week 3
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Course_Content/Week_4/home.html">
           <span class="menu-text">
            Week 4
           </span>
          </a>
         </div>
        </li>
       </ul>
      </li>
      <li class="sidebar-item sidebar-item-section">
       <div class="sidebar-item-container">
        <a aria-expanded="true" class="sidebar-item-text sidebar-link text-start" data-bs-target="#quarto-sidebar-section-2" data-bs-toggle="collapse">
         <span class="menu-text">
          Homework
         </span>
        </a>
        <a aria-expanded="true" aria-label="Toggle section" class="sidebar-item-toggle text-start" data-bs-target="#quarto-sidebar-section-2" data-bs-toggle="collapse">
         <i class="bi bi-chevron-right ms-2">
         </i>
        </a>
       </div>
       <ul class="collapse list-unstyled sidebar-section depth1 show" id="quarto-sidebar-section-2">
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Homework/1/HW.html">
           <span class="menu-text">
            HW1: Probability
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Homework/2/HW.html">
           <span class="menu-text">
            HW2: Data Collection
           </span>
          </a>
         </div>
        </li>
       </ul>
      </li>
      <li class="sidebar-item sidebar-item-section">
       <div class="sidebar-item-container">
        <a aria-expanded="true" class="sidebar-item-text sidebar-link text-start" data-bs-target="#quarto-sidebar-section-3" data-bs-toggle="collapse">
         <span class="menu-text">
          Ethics Discussions
         </span>
        </a>
        <a aria-expanded="true" aria-label="Toggle section" class="sidebar-item-toggle text-start" data-bs-target="#quarto-sidebar-section-3" data-bs-toggle="collapse">
         <i class="bi bi-chevron-right ms-2">
         </i>
        </a>
       </div>
       <ul class="collapse list-unstyled sidebar-section depth1 show" id="quarto-sidebar-section-3">
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_2.html">
           <span class="menu-text">
            W2: Political Content
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_3.html">
           <span class="menu-text">
            W3: Creative Work
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_4.html">
           <span class="menu-text">
            W4: Mental Health Support
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_5.html">
           <span class="menu-text">
            W5: Recommendations
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_6.html">
           <span class="menu-text">
            W6: Autonomous Driving
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_7.html">
           <span class="menu-text">
            W7: Housekeeping
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_8.html">
           <span class="menu-text">
            W8: Facial Recognition
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Ethics/Week_9.html">
           <span class="menu-text">
            W9:ChatGPT and friends
           </span>
          </a>
         </div>
        </li>
       </ul>
      </li>
      <li class="sidebar-item sidebar-item-section">
       <div class="sidebar-item-container">
        <a aria-expanded="true" class="sidebar-item-text sidebar-link text-start" data-bs-target="#quarto-sidebar-section-4" data-bs-toggle="collapse">
         <span class="menu-text">
          Bonus Questions
         </span>
        </a>
        <a aria-expanded="true" aria-label="Toggle section" class="sidebar-item-toggle text-start" data-bs-target="#quarto-sidebar-section-4" data-bs-toggle="collapse">
         <i class="bi bi-chevron-right ms-2">
         </i>
        </a>
       </div>
       <ul class="collapse list-unstyled sidebar-section depth1 show" id="quarto-sidebar-section-4">
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link active" href="../Bonus/1.html">
           <span class="menu-text">
            Sonam’s Dilemma: A Gift for Few or a Chance for All
           </span>
          </a>
         </div>
        </li>
       </ul>
      </li>
      <li class="sidebar-item sidebar-item-section">
       <div class="sidebar-item-container">
        <a aria-expanded="true" class="sidebar-item-text sidebar-link text-start" data-bs-target="#quarto-sidebar-section-5" data-bs-toggle="collapse">
         <span class="menu-text">
          Syllabus
         </span>
        </a>
        <a aria-expanded="true" aria-label="Toggle section" class="sidebar-item-toggle text-start" data-bs-target="#quarto-sidebar-section-5" data-bs-toggle="collapse">
         <i class="bi bi-chevron-right ms-2">
         </i>
        </a>
       </div>
       <ul class="collapse list-unstyled sidebar-section depth1 show" id="quarto-sidebar-section-5">
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Syllabus/Key_Info.html">
           <span class="menu-text">
            Key Info
           </span>
          </a>
         </div>
        </li>
        <li class="sidebar-item">
         <div class="sidebar-item-container">
          <a class="sidebar-item-text sidebar-link" href="../Syllabus/Syllabus.html">
           <span class="menu-text">
            Official Syllabus
           </span>
          </a>
         </div>
        </li>
       </ul>
      </li>
     </ul>
    </div>
   </nav>
   <div data-bs-target="#quarto-sidebar,#quarto-sidebar-glass" data-bs-toggle="collapse" id="quarto-sidebar-glass">
   </div>
   <!-- margin-sidebar -->
   <div class="sidebar margin-sidebar" id="quarto-margin-sidebar">
    <nav class="toc-active" id="TOC" role="doc-toc">
     <h2 id="toc-title">
      On this page
     </h2>
     <ul>
      <li>
       <a class="nav-link active" data-scroll-target="#sonams-dilemma---a-gift-for-few-or-a-chance-for-all" href="#sonams-dilemma---a-gift-for-few-or-a-chance-for-all" id="toc-sonams-dilemma---a-gift-for-few-or-a-chance-for-all">
        Sonam’s Dilemma - A Gift for Few or a Chance for All
       </a>
       <ul class="collapse">
        <li>
         <a class="nav-link" data-scroll-target="#instructions" href="#instructions" id="toc-instructions">
          Instructions
         </a>
        </li>
        <li>
         <a class="nav-link" data-scroll-target="#question" href="#question" id="toc-question">
          Question
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </nav>
   </div>
   <!-- main -->
   <main class="content" id="quarto-document-content">
    <section class="level1" id="sonams-dilemma---a-gift-for-few-or-a-chance-for-all">
     <h1>
      Sonam’s Dilemma - A Gift for Few or a Chance for All
     </h1>
     <section class="level6" id="bonus-question-1-point">
      <h6 class="anchored" data-anchor-id="bonus-question-1-point">
       Bonus Question : 1 point
      </h6>
      <p>
       <br/>
      </p>
     </section>
     <section class="level3" id="instructions">
      <h3 class="anchored" data-anchor-id="instructions">
       Instructions
      </h3>
      <ul>
       <li>
        Due Date : July 7, Friday, 5 pm
       </li>
       <li>
        Submit your answer at D2 &gt; Quiz &gt; “Sonam’s Dilemma : a gift for few or a chance for all”
       </li>
      </ul>
     </section>
     <section class="level3" id="question">
      <h3 class="anchored" data-anchor-id="question">
       Question
      </h3>
      <p>
       <br/>
       <em>
        Source : Story I made up, text improved by ChatGPT, and then edited by myself.
       </em>
      </p>
      <p>
       Once upon a time, in the grand kingdom of Razia, there existed a mesmerizing lead dancer named Sonam. She possesed a combination of charm, extraordinary talent, and intelligence that made her stand out amongst her peers. Sonam’s passion for dance was matched only by her love for her dance group,with 2000 other talented dancers, who all shared an unbreakable bond and admired their noble Queen above all.
      </p>
      <p>
       One fine day, as Sonam’s heart overflowed with gratitude for their benevolent ruler, she decided to express her deep admiration through the power of music. She crafted a beautiful song that portrayed the love and adoration her dance group held for Queen Razia. With eager anticipation, Sonam’s troupe dedicated themselves to perfecting their dance moves to match the rhythm and emotion of her heartfelt composition.
      </p>
      <p>
       The auspicious occasion of Queen Razia’s birthday arrived, filling the grand palace with a sense of joy and celebration. The Queen, known for her discerning taste and appreciation for the arts, eagerly awaited the performance of Sonam’s dance group. As the music began to play and the dancers gracefully glided across the grand ballroom, a spell was cast upon all those in attendance.
      </p>
      <p>
       The Queen was captivated by the talent displayed before her, and her heart swelled with pride and delight. She could not help but marvel at the synchronized movements and the sheer passion that emanated from each and every member of the dance group. As the performance reached its crescendo, Queen Razia’s decision was made in an instant—this remarkable group deserved a gift to commemorate their extraordinary dedication.
      </p>
      <div class="Secret">
       <dr_cynthia_breazeal>
       </dr_cynthia_breazeal>
      </div>
      <p>
       However, there were only a limited number of gift available to give out right now. She presented Sonam with two choices, each with its own intriguing possibilities. The first option was straightforward : 660 randomly chosen dancers would receive a gift. This meant that a select few would be rewarded, leaving the remaining members without a token of appreciation.
      </p>
      <p>
       The second choice, however, offered a twist. Queen Shah proposed distributing the available gifts among all dancers, but with a twist of uncertainty. Each dancer would have a 33% chance of receiving a gift and a 66% chance of going without.
      </p>
      <p>
       Now faced with this dilemma, Sonam’s sharp mind began to evaluate the situation. Which option should Sonam pick? Why? Why not the other?
      </p>
     </section>
    </section>
   </main>
   <!-- /main -->
   <script id="quarto-html-after-body" type="application/javascript">
    window.document.addEventListener("DOMContentLoaded", function (event) {
  const toggleBodyColorMode = (bsSheetEl) => {
    const mode = bsSheetEl.getAttribute("data-mode");
    const bodyEl = window.document.querySelector("body");
    if (mode === "dark") {
      bodyEl.classList.add("quarto-dark");
      bodyEl.classList.remove("quarto-light");
    } else {
      bodyEl.classList.add("quarto-light");
      bodyEl.classList.remove("quarto-dark");
    }
  }
  const toggleBodyColorPrimary = () => {
    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");
    if (bsSheetEl) {
      toggleBodyColorMode(bsSheetEl);
    }
  }
  toggleBodyColorPrimary();
  const icon = "";
  const anchorJS = new window.AnchorJS();
  anchorJS.options = {
    placement: 'right',
    icon: icon
  };
  anchorJS.add('.anchored');
  const isCodeAnnotation = (el) => {
    for (const clz of el.classList) {
      if (clz.startsWith('code-annotation-')) {
        return true;
      }
    }
    return false;
  }
  const clipboard = new window.ClipboardJS('.code-copy-button', {
    text: function(trigger) {
      const codeEl = trigger.previousElementSibling.cloneNode(true);
      for (const childEl of codeEl.children) {
        if (isCodeAnnotation(childEl)) {
          childEl.remove();
        }
      }
      return codeEl.innerText;
    }
  });

### Q 1.2: Find the section with the secret code by using the Beautiful Soup’s find function.

In [3]:
secret = html.find(class_="Secret")
print(secret)

<div class="Secret">
<dr_cynthia_breazeal></dr_cynthia_breazeal>
</div>

### Q 1.3: Clean up the secret code and print it as "The Secret Code is: CSC380 " The secret code should not have the </> symbols on them.

In [4]:
secret_tag = html.find("dr_cynthia_breazeal").name
text = str(secret_tag)
print('The Secret Code is: '+ text)

The Secret Code is: dr_cynthia_breazeal

***
***
## Question 2: Random Facts API

### Q 2.1: Correct URL
#### Find the URL for random facts API.

In [5]:
random_facts_URL = 'https://uselessfacts.jsph.pl/api/v2/facts/random'

### Q 2.2: Utilizing the Library for URL Handling
#### Use the library we discussed in class to call the API 10 times.

### Q 2.3: Checking Status Code
#### After making each API call, verify if the status code is 200, indicating a successful response. If the status code is different, it signifies an error or issue that needs to be addressed. You don’t have to print the status code for each API call, but the code where you checked if the status code is 200 should be present.

### Q 2.4: Implementing Time Gaps
#### To ensure smooth and responsible API usage, introduce time gaps between each API call. You can use the sleep function from the time library. The code where you introduced the time gap should be present.

In [6]:
t = 1
for i in range(10):
    page = requests.get(random_facts_URL)
    print(page)
    time.sleep(1)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

### Q 2.5: Creating the Dataframe
#### Finally, use the collected random facts to create a data frame. Your header should be : ( id, text, source, source_url, language, and permalink). Display the data frame.

In [7]:
random_facts_URL = 'https://uselessfacts.jsph.pl/api/v2/facts/random'
page = requests.get(random_facts_URL)

data = page.json()
header = data.keys()

t = 2
random_facts = []
for i in range(10):
    page = requests.get(random_facts_URL)
    data = page.json()
    values = data.values()
    random_facts.append(values)
    time.sleep(t)
    
random_facts_df = pd.DataFrame(random_facts, columns=header)
random_facts_df

,id,text,source,source_url,language,permalink
0,52ab235f7edbabb6a53f9b33c32d9dc4,Prince Charles is an avid collecter of toilet ...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/52ab...
1,9dc6007de790ced736256364a22c0ec2,Los Angeles` full name `El Pueblo de Nuestra S...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/9dc6...
2,3a061e7a74a910de2a85fc3faaceca42,"You can be fined up to $1,000 for whistling on...",djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/3a06...
3,46ea861a166c2395a4c70c74f7e3d91c,The first automobile race ever seen in the Uni...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/46ea...
4,b2c7f6cd9240e38dd4d574d2697d74ff,South Dakota is the only U.S state which share...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/b2c7...
5,e910d3f3992091f97c145ea0bf8c4ca9,"All of the clocks in the movie ""Pulp Fiction"" ...",djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/e910...
6,0883b6cdbebcf48b191d31b2ff33e2af,The storage capacity of human brain exceeds 4 ...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/0883...
7,643500f128749ac605c663e113b55886,A person cannot taste food unless it is mixed ...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/6435...
8,038a73550cb199a070f45be7824c738e,"In the Philippine jungle, the yo-yo was first ...",djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/038a...
9,501eb21934c84fa55b4cea047940bed1,Half the foods eaten throughout the world toda...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/501e...

### Q 2.6: Display Full Facts

#### You may notice that by default, pandas trim the facts when displaying them.

#### (a) We have learned how to get data from a column. Print the column containing data as a Series.

In [8]:
random_facts_df['text']

0    Prince Charles is an avid collecter of toilet ...
1    Los Angeles` full name `El Pueblo de Nuestra S...
2    You can be fined up to $1,000 for whistling on...
3    The first automobile race ever seen in the Uni...
4    South Dakota is the only U.S state which share...
5    All of the clocks in the movie "Pulp Fiction" ...
6    The storage capacity of human brain exceeds 4 ...
7    A person cannot taste food unless it is mixed ...
8    In the Philippine jungle, the yo-yo was first ...
9    Half the foods eaten throughout the world toda...
Name: text, dtype: object

#### (b) Convert the Series to a list. Do not use the list() function. We learned of another function to convert a Series to a list. Print the random facts as a list.

In [9]:
random_facts_df['text'].to_list()

['Prince Charles is an avid collecter of toilet seats.',
 'Los Angeles` full name `El Pueblo de Nuestra Senora la Reina de Los Angeles de Porciuncula` is reduced to 3.63% of its size in the abbreviation `L.A.`.',
 'You can be fined up to $1,000 for whistling on Sunday in Salt Lake City, Utah.',
 'The first automobile race ever seen in the United States was held in Chicago in 1895. The track ran from Chicago to Evanston, Illinois. The winner was J. Frank Duryea, whose average speed was 71/2 miles per hour.',
 'South Dakota is the only U.S state which shares no letters with the name of it`s capital',
 'All of the clocks in the movie "Pulp Fiction" are stuck on 4:20, a national pot-smokers hour.',
 'The storage capacity of human brain exceeds 4 Terabytes.',
 'A person cannot taste food unless it is mixed with saliva. For example, if a strong-tasting substance like salt is placed on a dry tongue, the taste buds will not be able to taste it. As soon as a drop of saliva is added and the salt is dissolved, however, a definite taste sensation results. This is true for all foods.',
 'In the Philippine jungle, the yo-yo was first used as a weapon.',
 'Half the foods eaten throughout the world today were developed by farmers in the Andes Mountains (including potatoes, maize, sweet potatoes, squash, all varieties of beans, peanuts, manioc, papayas, strawberries, mulberries and many others).']

### Q 2.7: Show 3 random facts from the data frame
#### We learned a function that randomly picks a number of rows and displays them. Use it to show 3 rows with random facts.

In [10]:
random_facts_df.sample(3)

,id,text,source,source_url,language,permalink
2,3a061e7a74a910de2a85fc3faaceca42,"You can be fined up to $1,000 for whistling on...",djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/3a06...
8,038a73550cb199a070f45be7824c738e,"In the Philippine jungle, the yo-yo was first ...",djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/038a...
3,46ea861a166c2395a4c70c74f7e3d91c,The first automobile race ever seen in the Uni...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/46ea...

### Q 2.8: What is today’s random fact?
#### (a) Utilize the available API to retrieve the random fact of the day.
#### (b) Use the DateTime library to obtain the current date and time when making the API call.
#### (c) Display the date and time of the API call, along with the corresponding random fact of the day.

In [11]:
random_fact_today_URL = 'https://uselessfacts.jsph.pl//api/v2/facts/today'
page = requests.get(random_fact_today_URL)
today_datetime = datetime.datetime.today()

data = page.json()
print(data['text'])
print(today_datetime)

WWII fighter pilots in the South Pacific armed their airplanes while stationed with .50 caliber machine gun ammo belts measuring 27 feet before being loaded into the fuselage. If the pilots fired all their ammo at a target, he went through "the whole 9 yards", hence the term.
2023-07-07 11:09:04.614009

___
___

## Question 3: Movies and Shows

### Q 3.1: Download the following datasets.

####  You don’t have to download using code. You can go to the website, click on download, and get the dataset. But unzip the files using code.

In [12]:
# Hulu
hulu_zip = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/hulu.zip'
with ZipFile(hulu_zip, 'r') as zObject:
    zObject.extractall('hulu_titles')
    
# Amazon
amazon_zip = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/amazon.zip'
with ZipFile(amazon_zip, 'r') as zObject:
    zObject.extractall('amazon_titles')

# Netflix
netflix_zip = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/netflix.zip'
with ZipFile(netflix_zip, 'r') as zObject:
    zObject.extractall('netflix_titles')
    
# Disney Plus
disney_plus_zip = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/disney.zip'
with ZipFile(disney_plus_zip, 'r') as zObject:
    zObject.extractall('disney_titles')

### Q 3.2: Create on large dataframe 

#### (a) Create a separate dataframe for each streaming service. Use names that make it easy to understand which is what.

#### (b) Create a column named Platform with the name of the streaming service for all four dataframes. For example refer to Figure 1.

In [13]:
# Hulu
hulu_csv_path = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/hulu_titles/hulu_titles.csv'
hulu_list = []
with open(hulu_csv_path, newline='') as csvfile:
    reader = list(csv.reader(csvfile))
    header = reader[0]
    data = reader[1:]
    for row in data:
        hulu_list.append(row)
                
hulu_df = pd.DataFrame(data, columns=header)
hulu_df.insert(12, 'Platform', 'Hulu')
hulu_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Ricky Velez: Here's Everything,,,,"October 24, 2021",2021,TV-MA,,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,,,,"October 23, 2021",2020,,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,,,,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu
3,s4,Movie,Gaia,,,,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Hulu
4,s5,Movie,Settlers,,,,"October 22, 2021",2021,,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,,,United States,,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,Hulu
3069,s3070,TV Show,Star Trek: Voyager,,,United States,,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,Hulu
3070,s3071,TV Show,The Fades,,,United Kingdom,,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,Hulu
3071,s3072,TV Show,The Twilight Zone,,,United States,,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,Hulu
3072,s3073,TV Show,Tokyo Magnitude 8.0,,,Japan,,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,Hulu

In [14]:
# Amazon
amazon_csv_path = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/amazon_titles/amazon_prime_titles.csv'
amazon_list = []
with open(amazon_csv_path, newline='') as csvfile:
    reader = list(csv.reader(csvfile))
    header = reader[0]
    data = reader[1:]
    for row in data:
        amazon_list.append(row)
        
amazon_df = pd.DataFrame(data, columns=header)
amazon_df.insert(12, 'Platform', 'Amazon')
amazon_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",,,1940,7+,60 min,Comedy,New York City street principles get an East Si...,Amazon
9664,s9665,TV Show,Planet Patrol,,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",,,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",Amazon
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",,,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",Amazon
9666,s9667,TV Show,Maradona: Blessed Dream,,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",,,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",Amazon
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",,,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",Amazon

In [15]:
# Netflix
netflix_csv_path = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/netflix_titles/netflix_titles.csv'
netflix_list = []
with open(netflix_csv_path, newline='') as csvfile:
    reader = list(csv.reader(csvfile))
    header = reader[0]
    data = reader[1:]
    for row in data:
        netflix_list.append(row)
netflix_df = pd.DataFrame(data, columns=header)
netflix_df.insert(12, 'Platform', 'Netflix')
netflix_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,,,,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
8803,s8804,TV Show,Zombie Dumb,,,,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

In [16]:
# Disney Plus
disney_plus_csv_path = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/disney_titles/disney_plus_titles.csv'
disney_plus_list = []
with open(disney_plus_csv_path, newline='') as csvfile:
    reader = list(csv.reader(csvfile))
    header = reader[0]
    data = reader[1:]
    for row in data:
        disney_plus_list.append(row)
        
disney_plus_df = pd.DataFrame(data, columns=header)
disney_plus_df.insert(12, 'Platform', 'Disney Plus')
disney_plus_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,Disney Plus
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,Disney Plus
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,Disney Plus
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",Disney Plus
4,s5,TV Show,The Beatles: Get Back,,"John Lennon, Paul McCartney, George Harrison, ...",,"November 25, 2021",2021,,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,Disney Plus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney Plus
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney Plus
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney Plus
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney Plus
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney Plus

#### (c) Combine them all to create one large dataframe named all_platforms_df. Use the pandas functionality to convert a list of dataframe to one

In [17]:
all_dataframes = [hulu_df, amazon_df, netflix_df, disney_plus_df]
all_platforms_df = pd.concat(all_dataframes)
all_platforms_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Ricky Velez: Here's Everything,,,,"October 24, 2021",2021,TV-MA,,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,Hulu
1,s2,Movie,Silent Night,,,,"October 23, 2021",2020,,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",Hulu
2,s3,Movie,The Marksman,,,,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,Hulu
3,s4,Movie,Gaia,,,,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,Hulu
4,s5,Movie,Settlers,,,,"October 22, 2021",2021,,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney Plus
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney Plus
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney Plus
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney Plus
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney Plus

### Q 3.3: Longest show and movie

#### (a) Display a dataframe with information on how many shows had how many seasons Random rows of the expected dataframe look like Figure 2. Your cell values could be different ( if the dataset is updated after this homework is released). How many seasons were the longest-running show ( max number of seasons ) ?

**A: The show that ran the longest lasted for 32 seasons**

In [18]:
tv_seasons_df = all_platforms_df[(all_platforms_df['type'] == "TV Show")]['duration'].value_counts().to_frame()
tv_seasons_df.reset_index(inplace = True)
tv_seasons_df.rename(columns = {'duration': 'Number of Seasons', 'count': 'No of Shows'}, inplace=True)
tv_seasons_df

   Number of Seasons  No of Shows
0           1 Season         4183
1          2 Seasons         1001
2          3 Seasons          475
3          4 Seasons          280
4          5 Seasons          195
5          6 Seasons          115
6          7 Seasons           89
7          8 Seasons           49
8          9 Seasons           34
9         10 Seasons           24
10        11 Seasons           18
11        12 Seasons           13
12        13 Seasons            6
13        14 Seasons            6
14        15 Seasons            5
15        16 Seasons            4
16        17 Seasons            3
17        19 Seasons            3
18        29 Seasons            3
19        22 Seasons            2
20        23 Seasons            2
21        30 Seasons            1
22        20 Seasons            1
23        25 Seasons            1
24        34 Seasons            1
25        26 Seasons            1
26        21 Seasons            1
27        32 Seasons            1

#### (b) ERROR EXPECTED : Repeat Q3.a for Movie duration in minutes. Our goal is to find which is the longest movie and how long it was. Since we have not performed any data cleaning, I am expecting you to get error or incorrect information. Without any preprocessing, follow the instructions.

##### i. Use the function used to sort a series by the values. What appears to be the longest movie?
**A: 'The Grotto' appears as the longest movie at 99 minutes.**

In [19]:
movie_duration_df = all_platforms_df[(all_platforms_df['type'] == 'Movie')][['title', 'duration']].sort_values(by = 'duration', ascending=False)
movie_duration_df

                                    title duration
6393                           The Grotto   99 min
6809  Froning: The Fittest Man in History   99 min
882                             Storm Boy   99 min
7550                 My Wife and My Wifey   99 min
6123             Kansas City Confidential   99 min
...                                   ...      ...
1117                          The Rewrite
1116                       The Evil in Us
1115           Once Upon a Time in Venice
1114                           Dirt Music
0          Ricky Velez: Here's Everything

[16481 rows x 2 columns]

##### ii. Use the function used to return a Series containing counts of unique values. What appears to be the longest movie?
**A: 'Grateful Dead: The Grateful Dead Movie' appears as the longest movie at 133 minutes.**

In [20]:
unique_titles_df = movie_duration_df[movie_duration_df['duration'] != ''].sort_values(by='duration', ascending=False)
unique_titles_df[['title','duration']].value_counts()

title                                   duration
21                                      123 min     3
Good Kisser                             75 min      3
Bratz: The Movie                        102 min     3
Mud                                     131 min     3
The Vatican Tapes                       91 min      3
                                                   ..
Grateful Dawg                           82 min      1
Grateful Dead: The Grateful Dead Movie  133 min     1
Grease                                  110 min     1
Grease Live!                            131 min     1
최강전사 미니특공대 : 영웅의 탄생                     68 min      1
Name: count, Length: 15761, dtype: int64

##### iii. Use the function that returns the maximum value in a series. What appears to be the longest movie? Why do you think you got an error here?
**A: 'Good 21' appears as the longest movie. I think the error occured because it was simply the first listed movie in the Series**

In [21]:
unique_titles_df[['title','duration']].value_counts().idxmax()

('21', '123 min')

### Q 3.4: Shows streaming on multiple platforms

#### (a)What is the number of rows in all_platforms_df ? Do not use len(), there is another functionality that will give you the number of rows and columns in a dataframe. Usage of that is the expectation here.

In [22]:
all_platforms_df.shape[0]

22998

#### (b) How many unique titles are in the dataframe?

In [23]:
len(all_platforms_df['title'].unique())

22115

#### (c) Count the number of times each title appears in the dataframe all_platforms_df. Display this as a dataframe named titles_count_df. The expected dataframe has indexes that are shows/movies and a column named title with the number of times the show appeared in the dataframe. Example below.

In [24]:
titles_count_df = all_platforms_df['title'].value_counts().to_frame()
titles_count_df.index.name= None
titles_count_df.rename(columns = {'count':'title'}, inplace=True)
titles_count_df

                                       title
Howards End                                3
Prey                                       3
The Vatican Tapes                          3
Underworld                                 3
The Box                                    3
...                                      ...
Foxpro Hunting                             1
Ghetto Dawg                                1
Gulaebaghavali                             1
I Met My Love Again                        1
Captain Sparky vs. The Flying Saucers      1

[22115 rows x 1 columns]

#### (d) Create a new column name in titles_count_df from the index. Replace the current index with row numbers.

In [25]:
titles_count_df['name'] = titles_count_df.index
titles_count_df.reset_index(inplace=True)
titles_count_df

,index,title,name
0,Howards End,3,Howards End
1,Prey,3,Prey
2,The Vatican Tapes,3,The Vatican Tapes
3,Underworld,3,Underworld
4,The Box,3,The Box
...,...,...,...
22110,Foxpro Hunting,1,Foxpro Hunting
22111,Ghetto Dawg,1,Ghetto Dawg
22112,Gulaebaghavali,1,Gulaebaghavali
22113,I Met My Love Again,1,I Met My Love Again
22114,Captain Sparky vs. The Flying Saucers,1,Captain Sparky vs. The Flying Saucers

#### (e) Change the column name of titles_count_df as Movie or Show Name in place of name. Change the column name title with No of Platforms.

In [26]:
titles_count_df.rename(columns = {'name': 'Movie or Show Name','title':'No of Platforms'}, inplace=True)
titles_count_df

,index,No of Platforms,Movie or Show Name
0,Howards End,3,Howards End
1,Prey,3,Prey
2,The Vatican Tapes,3,The Vatican Tapes
3,Underworld,3,Underworld
4,The Box,3,The Box
...,...,...,...
22110,Foxpro Hunting,1,Foxpro Hunting
22111,Ghetto Dawg,1,Ghetto Dawg
22112,Gulaebaghavali,1,Gulaebaghavali
22113,I Met My Love Again,1,I Met My Love Again
22114,Captain Sparky vs. The Flying Saucers,1,Captain Sparky vs. The Flying Saucers

#### (f) What is the maximum number of streaming platforms a show is on ? The usage of a single function we learned in class is what is expected here.

**A: The max number of streaming platforms a show is on is 3**

In [27]:
titles_count_df['No of Platforms'].max()

3

### Q 3.5: Favorite show or movie

#### (a) Display the rows with shows that are on at least two platforms.

In [28]:
titles_count_df[titles_count_df['No of Platforms'] >= 2]

,index,No of Platforms,Movie or Show Name
0,Howards End,3,Howards End
1,Prey,3,Prey
2,The Vatican Tapes,3,The Vatican Tapes
3,Underworld,3,Underworld
4,The Box,3,The Box
...,...,...,...
829,Population 436,2,Population 436
830,Colin Quinn: Unconstitutional,2,Colin Quinn: Unconstitutional
831,Offspring,2,Offspring
832,Personal Shopper,2,Personal Shopper
833,BuzzFeed Unsolved: True Crime,2,BuzzFeed Unsolved: True Crime

#### Picking any show/movie. If your favorite show or movie is in this displayed dataframe in Q4.a, pick that. 

#### Else pick a random show/movie using the pandas functionality that gives you a random row. Comment the show name in that code line. Display the rows in all_platforms_df that has information about the show.

In [29]:
favorite_show= 'The Boys'
all_platforms_df[all_platforms_df['title'] == favorite_show]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
730,s731,TV Show,The Boys,,"Karl Urban, Jack Quaid, Antony Starr, Erin Mor...",United States,,2020,18+,2 Seasons,Action,All Episodes Available. In a more intense Seas...,Amazon

### Q 3.6: Save Data

In [30]:
all_platforms_df.to_csv('all_platforms_csv', index=False)

### Q 3.7: Name starts with ...

#### (a) Read the file you saved in the question above.

In [31]:
all_platforms_csv_path = '/Users/christopherreid/My Drive (christopherreid@arizona.edu)/Classes/6. Summer 2023/CSC 380 - Principles of Data Science/Homeworks/Homework 2/all_platforms_csv'
all_platforms_df_csv = pd.read_csv(all_platforms_csv_path)

#### (b) Display all the rows containing movies starting with your First name’s first letter. For instance, my name is Enfa, so I would display all movies that start with E.

In [32]:
first_name_first_letter = 'C'
all_platforms_df_csv[all_platforms_df_csv['title'].str.startswith(first_name_first_letter)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
20,s21,Movie,Cheer Camp Killer,NaN,NaN,NaN,"October 15, 2021",2020,TV-14,87 min,Thriller,Camp queen bee Victoria does not take kindly t...,Hulu
30,s31,TV Show,Catfish México,NaN,NaN,NaN,"October 14, 2021",2018,NaN,1 Season,"Latino, Reality",Porque sabemos que no es fácil encontrar el am...,Hulu
31,s32,Movie,Censor,NaN,NaN,NaN,"October 14, 2021",2021,NaN,84 min,Horror,A film censor is assigned to review a disturbi...,Hulu
38,s39,Movie,CHIPS,NaN,NaN,NaN,"October 13, 2021",2017,R,101 min,"Action, Adventure, Comedy",Ponch and Jon are together again in this hilar...,Hulu
41,s42,TV Show,"Champaign, Ill",NaN,NaN,NaN,"October 12, 2021",2018,NaN,1 Season,Comedy,"After the death of their best friend, a wildly...",Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22347,s800,TV Show,Coop & Cami Ask The World (Shorts),NaN,NaN,NaN,"November 12, 2019",2018,TV-G,1 Season,"Comedy, Family, Game Show / Competition","Cooper and Cami Wrather co-host ""Would You Wra...",Disney Plus
22348,s801,Movie,Corn Chips,Jack Hannah,NaN,United States,"November 12, 2019",1951,TV-G,7 min,"Animation, Comedy, Family",Donald tricks Chip 'n Dale into shoveling snow...,Disney Plus
22349,s802,Movie,Cow Belles,Francine McDougall,"Amanda Michalka, Alyson Michalka, Sheila McCar...",United States,"November 12, 2019",2006,TV-G,91 min,"Comedy, Coming of Age",Two ultra-spoiled sisters are put to work in t...,Disney Plus
22350,s803,TV Show,Crash & Bernstein,NaN,"Cole Jensen, Tim Lagasse, Landry Bender, Oana ...",United States,"November 12, 2019",2012,TV-Y7,2 Seasons,"Comedy, Fantasy, Kids","The only boy in a family, Wyatt creates a pupp...",Disney Plus
22997,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney Plus

#### (c) How many unique shows start with your name’s first letter?

In [33]:
len(all_platforms_df_csv[all_platforms_df_csv['title'].str.startswith(first_name_first_letter)]['title'].unique())

1243

#### (d) If our TA were to answer Q7b, what would be the output?

In [34]:
TA_name_first_letter = 'B'
all_platforms_df_csv[all_platforms_df_csv['title'].str.startswith(TA_name_first_letter)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
18,s19,TV Show,Beyond Oak Island,NaN,NaN,NaN,"October 15, 2021",2020,TV-PG,1 Season,"History, Reality",From pirates such as Blackbeard and outlaws li...,Hulu
19,s20,TV Show,Beyond Scared Straight,NaN,NaN,United States,"October 15, 2021",2011,TV-14,6 Seasons,"Documentaries, Reality, Teen",Beyond Scared Straight profiles the new approa...,Hulu
37,s38,Movie,BELLATOR MMA: Kongo vs. Johnson 2,NaN,NaN,NaN,"October 13, 2021",2020,NaN,NaN,Sports,Cheick Kongo vs. Tim Johnson battle in a histo...,Hulu
44,s45,TV Show,Buried,NaN,NaN,NaN,"October 10, 2021",2021,TV-MA,1 Season,"Crime, Documentaries","In January 1989, in a flash Eileen Franklin re...",Hulu
54,s55,TV Show,Baker's Dozen,NaN,NaN,NaN,"October 7, 2021",2021,NaN,1 Season,"Cooking & Food, Lifestyle & Culture, Reality",Passionate amateur bakers will go head-to-head...,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22316,s769,Movie,BURN-E,Angus MacLane,"Angus MacLane, Tessa Swigart",United States,"November 12, 2019",2008,TV-G,8 min,"Animation, Comedy, Family",BURN-E the welding bot is locked out of the st...,Disney Plus
22977,s1430,Movie,Bedknobs and Broomsticks,Robert Stevenson,"Angela Lansbury, David Tomlinson, Roddy McDowa...",United States,"October 1, 2019",1971,G,118 min,"Comedy, Family, Fantasy",Three children and an amateur witch team up to...,Disney Plus
22978,s1431,Movie,Blackbeard's Ghost,Robert Stevenson,"Peter Ustinov, Dean Jones, Suzanne Pleshette, ...",United States,"October 1, 2019",1968,G,107 min,"Comedy, Family, Fantasy",A track coach inherits the mischievous ghost o...,Disney Plus
22979,s1432,Movie,Brave Little Tailor,Bill Roberts,"Walt Disney, Marcelite Garner, Eddie Holden",United States,"October 1, 2019",1938,TV-PG,9 min,"Action-Adventure, Animation, Comedy","Mickey Mouse, a tailor, is appointed by the ki...",Disney Plus
22996,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney Plus

#### (e) If our Ta were to answer Q7c, what would be the output?

In [35]:
first_name_letter_uniques = len(all_platforms_df_csv[all_platforms_df_csv['title'].str.startswith(TA_name_first_letter)]['title'].unique())
print(first_name_letter_uniques)

1429

#### (f) If our Ta were to answer Q7c, but with his last name instead of first name, what would be the answer?

In [36]:
TA_name_last_letter = 'B'
last_name_letter_uniques = len(all_platforms_df_csv[all_platforms_df_csv['title'].str.startswith(TA_name_last_letter)]['title'].unique())
print(last_name_letter_uniques)

1429

#### (g) What is the difference (as in an integer) between Q7.e and Q7.f

In [37]:
print(first_name_letter_uniques-last_name_letter_uniques)

0